<h1>Search Results</h1>

<section class="stations">
  <% facade.results.each do |result| %>
    <h3><%= result.name %></h3>
    <ul>
      <li>Address: <%= result.address %></li>
      <li>Fuel Type: <%= result.fuel_type %></li>
      <li>Distance: <%= result.distance.round(2) %> miles away</li>
      <li><%= result.access_time %></li>
    </ul>
  <% end %>
</section>
