<h1>Search Results</h1>

<section class="stations">
  <% facade.results.each do |result| %>
    <h3><%= result.name %></h3>
    <ul>
      <li><%= result.address %>/li>
      <li><%= result.fuel_types %>/li>
      <li><%= result.distance %>/li>
      <li><%= result.access_time %>/li>
    </ul>
  <% end %>
</section>
